<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net46" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net45" />
  <package id="ODataToolkit" version="0.7.6421.22340" targetFramework="net46" />
</packages>